.flex{
    display: flex;
    flex-direction: row;
}
.flex .left{
    flex-basis: 20%;
    -webkit-flex-basis: 20%;
    // background-color: red;

}
.flex .left img{
    max-width: 100%;
    max-height: 100%;
}
.flex .right{
    flex-basis: 10%;
    -webkit-flex-basis: 10%;
    // background-color: blue;
}
.flex .center{
    padding-left: 20px;
    flex-grow: 1;
}
