
#div1, #div2{
    display: inline-block;
    margin:10px;
}
.mat-form-field {
    margin: 20px 0;
    width: 300px !important;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}

.mat-toolbar-single-row button {
    width: 200px;
}

.mat-form-field {
    width: 100%;
}

#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}
.mat-form-field {
    margin: 20px 0;
    width: 300px !important;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}

.mat-toolbar-single-row button {
    width: 200px;
}

.mat-form-field {
    width: 100%;
}

#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}
