<h2 mat-dialog-title>
    Add_EmployeeBasic
</h2>
<mat-dialog-content class="post-form">

    <div id='div1'>
    <mat-form-field>
        <input #basicname placeholder="Name" matInput [(ngModel)]="data.name"  required/>
        <mat-error>Please enter your name</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <textarea put #basicposition placeholder="Position" matInput [(ngModel)]="data.position"  required matTextareaAutosize></textarea>
        <mat-error>Please enter your position</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <textarea #basicprofession placeholder="Profession" matInput [(ngModel)]="data.profession"  required matTextareaAutosize></textarea>
        <mat-error>Please enter your profession</mat-error>
    </mat-form-field>

    </div>
    <div id='div2'>
        <h2>Select Picture</h2>
        <div><img src="{{dataimage}}" width="300px"></div>
        <mat-form-field>
            <div>

              <mat-toolbar>
                <!-- Display files names -->
                <input matInput [(ngModel)]="fileAttr" readonly name="name" />

                <!-- Browse Button -->
                <button mat-flat-button color="primary">
                  Browse File
                </button>
              </mat-toolbar>

              <!-- Fetch selected filed on change -->
              <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
                accept="image/*" />
            </div>
          </mat-form-field>


    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]='data'>Confirm</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </mat-dialog-actions>


