

<mat-form-field>
    <mat-label>Search Name</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
</mat-form-field>

<button mat-raised-button color="primary" (click)="openAddDialog()" class="button-add" >
            <i class="fa fa-fw fa-user"></i>
            Add Employee
</button>


<div class="example-container mat-elevation-z8">
<mat-table [dataSource]="dataSource" [class.isMobile]="isMobile" matSort #sortTable="matSort" (matSortChange)="changeSort($event)">

    <ng-container matColumnDef="name">
      <mat-header-cell class="test" *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Name:</span>
        <a routerLink="./detail/{{element.id}}">{{element.name}}</a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="employeeid">
        <mat-header-cell *matHeaderCellDef>Employee ID</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span class="mobile-label">Emp_ID:</span>
            {{ element.id }}</mat-cell>
      </ng-container>

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
      <mat-cell *matCellDef="let element">
          <span class="mobile-label">Position:</span>
        {{ element.position }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="profession">
        <mat-header-cell *matHeaderCellDef>Profession</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span class="mobile-label">Profession:</span>
            {{ element.profession }}</mat-cell>
      </ng-container>

    <ng-container matColumnDef="dept">
        <mat-header-cell *matHeaderCellDef>Dept</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span class="mobile-label">Dept:</span>
            {{ element.dept }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span class="mobile-label">Company:</span>
            {{ element.company }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="management">
        <mat-header-cell *matHeaderCellDef>
          <u>Management</u>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <span class="mobile-label">Management:</span>
          <!-- <button mat-button color="primary" (click)="openEditDialog(row)">Edit</button> -->
          <button mat-button color="warn" (click)="openConfirmDialog(row)">Delete</button>
        </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="['name', 'employeeid' ,'position', 'profession', 'dept', 'company', 'management']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'employeeid' ,'position', 'profession', 'dept', 'company', 'management']"></mat-row>

  </mat-table>

<mat-paginator #paginator
[length]="totalCount"
[pageIndex]="currentPage.pageIndex"
[pageSize]="currentPage.pageSize"
[pageSizeOptions]="[5, 10, 15]">
</mat-paginator>
</div>
