.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 100px;
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .mat-cell {
    padding-right: 5px;
}
.mat-column-profession {
    min-width: 200px;
}
  .mobile-label {
    display: none;
  }
  .button-add {
    float:right;
  }
  @media(max-width: 600px) {
    .mobile-label {
      width: 100px;
      display: inline-block;
          font-weight: bold;
    }

    .mat-header-row {
        display: none;
    }
    .mat-cell {
        padding-left: 0px;
    }
    .mat-row {
      flex-direction: column;
      align-items: flex-start;
      padding: 0px 20px;
    }
  }
